{% extends 'base.html' %}


{% block title %}
Atualizar Dados
{% endblock title %}


{% block content %}
<h1>Atualizar Dados</h1>
<hr><br>
<form method="POST" action="{% url 'update-user' %}">
    {% csrf_token %}
    <p>
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" value="{{ user.name }}" />
    </p>
    <p>
        <label for="imageURL">Foto de Perfil:</label>
        <input type="text" name="imageURL" id="imageURL" value="{{ user.imageURL }}" />
    </p>
    <p>
        <label for="adress">Endereço:</label>
        <input type="text" name="adress" id="adress" value="{{ user.adress }}" />
    </p>
    <button class="btn btn-secondary">Atualizar</button>
    <br><br>
</form>

{% endblock content %}


